<header id="site-nav">
    <nav aria-label="Main navigation">
        <ul>
            {% for link in config.extra.nav.links %}
            <li>
                <a href="{{ link.url | safe | replace(from='$BASE_URL', to=get_url(path='')) | safe }}">
                    <i data-feather="{{ link.icon }}" class="ico"></i><span class="nav-text">&nbsp;{{link.name }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
        <div id="cookies-preferences">
            <a href="#" id="open_preferences_center">
                <i data-feather="settings" class="ico"></i>
            </a>
        </div>
    </nav>
</header>
