{% extends "base.html" %}
{% import "macros/series.html" as series_macros %}
{% import "macros/taxonomy.html" as taxonomy_macros %}

{% block content %}
<header class="post-header">
  <h1>{{ page.title }}</h1>

  <div class="post-meta">
    {%- if page.date %}
      <time datetime="{{ page.date | date(format='%+') }}" pubdate>
        {{- page.date | date(format=config.extra.date_format) -}}
      </time>
    {%- endif %}

    {%- if page.authors %}
      <span class="meta-separator">•</span>
      <span class="post-author">{{ page.authors[0] }}</span>
    {%- endif %}

    {{ taxonomy_macros::render_tags(page=page, format="inline", show_separator=true) }}
  </div>
</header>

{% if page.extra.disclaimer %}
  <div class="statement-container disclaimer">
    <strong class="big">⚠ Disclaimer:</strong>
    {{ page.extra.disclaimer | markdown | safe }}
  </div>
{% endif %}

{% if page.extra.info %}
  <div class="statement-container info">
    <strong class="big">🛈 Info:</strong>
    {{ page.extra.info | markdown | safe }}
  </div>
{% endif %}


{% if page.extra.toc %}
  <div class="toc-list">
    <h2>Table of Contents</h2>
    <ul>
      {% for h1 in page.toc %}
        <li>
          <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
          {% if h1.children %}
            <ul>
              {% for h2 in h1.children %}
                <li>
                  <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

{{ page.content | safe }}

<hr/>

{% if page.taxonomies.series %}
  {{ series_macros::navigation(page=page) }}
{% elif page.lower or page.higher %}
  <nav id="post-nav" aria-label="Post navigation">
    {% if page.higher %}
      <a class="post-nav-item post-nav-prev" href="{{ page.higher.permalink }}">
        <div class="nav-arrow">← Previous</div>
        <span class="post-title">{{ page.higher.title }}</span>
      </a>
    {% endif %}
    {% if page.lower %}
      <a class="post-nav-item post-nav-next" href="{{ page.lower.permalink }}">
        <div class="nav-arrow">Next →</div>
        <span class="post-title">{{ page.lower.title }}</span>
      </a>
    {% endif %}
  </nav>
{% endif %}

<p class="dialog-buttons">
<a class="inline-button" href="#top">Back to top</a>
</p>
{% endblock content %}
